/* Reset default margins and padding */
body,
ul {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

/* Overall layout styles */
.container1_wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.container1_title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container1_title h1 {
  position: relative;
  color: #ffffff;
  font-size: clamp(0.8rem, 0.1rem + 0.96vw, 2rem);
  text-shadow: 0px 3px 6px rgb(0, 0, 0);
  margin: 0 auto;
}

.container1_title hr {
  border-color: #dc4405;
  margin: 20px auto 25px;
  width: 52px;
}

.container1_list {
  max-width: 1600px; /* Set a fixed width for the container */
  height: 80%;
  display: block;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* Item list styles */
.item-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.item {
  padding: 12px 24px;
  color: #ffffff;
  text-shadow: 0px 3px 6px rgb(0, 0, 0);
  cursor: pointer;
  font-size: clamp(0.6rem, 0.1rem + 0.96vw, 2rem);
  font-weight: bold;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.2s;
}

.item.active {
  color: #e17013; /* Style for active item */
}

.item:hover {
  color: #e17013;
}

/* Content section styles */
.content-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  flex-wrap: wrap; /* Allow items to wrap if needed */
}

.content {
  position: relative;
  width: 1600px; /* Set the initial width for each content */
  overflow: hidden;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: width 0.3s;
  box-sizing: border-box;
}

.content h2 {
  margin-top: 0;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  background-color: #d65f10;
  color: #ffffff;
}

.content p {
  margin: 0;
  padding: 10px;
}

/* Details styles */
.details {
  position: absolute;
  display: flex;
  bottom: 10%;
  max-height: 0;
  color: #333333;
  padding: 10px;
  overflow: hidden;
  transition: max-height 0.3s;
}

/* Details styles */
.details_Title {
  position: relative;
  display: flex;
  bottom: 10%;
  max-height: 0;
  color: #333333;
  padding: 10px;
  overflow: hidden;
  transition: max-height 0.3s;
}

/* Details styles */
.details.active .details_Title {
  position: relative;
  display: flex;
  bottom: 0%;
  max-height: 100px;
  text-shadow: 0px 3px 6px rgb(0, 0, 0);
  font-size: clamp(0.4rem, 0.1rem + 0.96vw, 1.2rem);
  color: #ffffff;
  overflow: hidden;
  transition: max-height 0.3s;
}

/* Details styles */
.details.active .details_Title h1 {
  margin: 0;
}

/* Details styles */
.details_disricption {
  position: relative;
  display: flex;
  bottom: 10%;
  max-height: 0;
  color: #333333;
  overflow: hidden;
  transition: max-height 0.3s;
}

/* Details styles */
.details.active .details_disricption {
  position: relative;
  display: flex;
  bottom: 0%;
  max-height: 180px;
  color: #ffffff;
  text-shadow: 0px 3px 6px rgb(0, 0, 0);
  overflow: hidden;
  transition: max-height 0.3s;
}

.content.active {
  width: 900px; /* Adjust the expanded width as needed */
}

.details.active {
  color: #ffffff;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  bottom: 0%;
  padding: 0px;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.details.active p {
  color: #ffffff;
  overflow: hidden;
  display: flex;
  padding: 20px;
  font-size: clamp(0.6rem, 0.1rem + 0.96vw, 1rem);
  text-shadow: 0px 3px 6px rgb(0, 0, 0);
}

/* Image container styles */
.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  border: 2px solid rgb(255, 255, 255);
  background-size: cover;
  object-fit: cover;
  image-rendering: optimizeQuality;
  background-repeat: no-repeat;
  width: 270px; /* Set the width for each thumbnail image */
  height: 270px;
  transition: width 1.4s;
}

.image-container:hover {
  transform: scale(1); /* Increase the scale slightly on hover */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: transform 0.3s, width 0.3s; /* Add transition for both transform and width */
}

.image-container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  writing-mode: horizontal-tb; /* For browser support, if needed */
  text-orientation: sideways; /* For browser support, if needed */
  white-space: normal; /* Prevent text from wrapping */
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
  font-size: clamp(0.7rem, 0.1rem + 0.96vw, 1rem);
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
  text-shadow: 0px 3px 6px rgb(0, 0, 0);
  color: #ffffff;
  z-index: 1;
}

.image-container.active h2 {
  transform: translate(-50%, -50%) rotate(-90deg);
  writing-mode: vertical-lr; /* For browser support, if needed */
  text-orientation: sideways; /* For browser support, if needed */
  white-space: nowrap; /* Prevent text from wrapping */
  display: none;
  margin: 0;
  font-size: clamp(0.6rem, 0.1rem + 0.96vw, 2rem);
  color: #ffffff;
  z-index: 1;
}

/* Active state styles */
.image-container.active {
  width: 100%; /* Expand the width when active */
  z-index: 1; /* Make the active image appear on top of others */
  object-fit: unset;
}

.image-container.active img {
  transform: scale(1); /* Reset the scale to normal size */
}

/* Styles for section3_content */
.section3_content {
  display: flex;
  justify-content: center;
}

.details_button {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 0;
}

.details_button a {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 0;
  font-size: clamp(0.5rem, 0.1rem + 0.96vw, 0.7rem);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  color: #ccc;
  background-color: #d65f10d7;
  text-decoration: none;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}

.details_button.active a {
  position: relative;
  max-height: 100px;
  padding: 10px 20px;
  font-size: clamp(0.5rem, 0.1rem + 0.96vw, 0.7rem);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  color: #ffffff;
  background-color: #d65f10d7;
  text-decoration: none;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}

.details_button.active {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 25%;
  width: 100%;
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
}

.image-container .overlay1 {
  background-color: #00000096;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%;
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
}

.image-container.active .overlay1 {
  background-color: #00000096;
  width: 100%;
  max-height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%;
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
}

.image-container .overlay2 {
  background-color: #00000096;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%;
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
}

.image-container.active .overlay2 {
  background-color: #00000096;
  width: 100%;
  max-height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%;
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
}

.image-container .overlay3 {
  background-color: #00000096;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%;
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
}

.image-container.active .overlay3 {
  background-color: #00000096;
  width: 100%;
  max-height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%;
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
}

.image-container .overlay4 {
  background-color: #00000096;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%;
  transition: transform 0.3s, width 0.6s; /* Add transition for both transform and width */
}

.image-container.active .overlay4 {
  background-color: #00000096;
  width: 100%;
  max-height: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0%;
}

/* Styles for heading and paragraphs */
h2 {
  margin-top: 0;
  font-size: clamp(0.7rem, 0.1rem + 0.96vw, 0.8rem);
  font-weight: bold;
  color: #383838;
}

li {
  margin-top: 0;
  font-size: clamp(0.7rem, 0.1rem + 0.96vw, 0.8rem);
  font-weight: bold;
  color: #383838;
}

p {
  margin-bottom: 1.5rem;
  font-size: clamp(0.7rem, 0.1rem + 0.96vw, 0.8rem);
  line-height: 1.6;
  color: #666666;
}

/* Define the background image URL for the first image-container */
#image-container-1 {
  background-image: url("../img/Accordion_img1.png");
}

/* Define the background image URL for the first image-container */
#image-container-2 {
  background-image: url("../img/Accordion_img2.png");
}

/* Define the background image URL for the first image-container */
#image-container-3 {
  background-image: url("../img/Accordion_img3.png");
}

/* Define the background image URL for the first image-container */
#image-container-4 {
  background-image: url("../img/Accordion_img4.png");
}

@media screen and (max-width: 768px) {
  /* Overall layout styles */
  .container1_wrapper {
    width: 100%;
    height: unset;
  }

  .image-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    white-space: nowrap;
    flex-wrap: wrap;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    font-size: clamp(0.7rem, 0.1rem + 0.96vw, 1rem);
    transition: transform 0.3s, width 0.6s;
    text-shadow: 0px 3px 6px rgb(0, 0, 0);
    color: #ffffff;
    z-index: 1;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    transition: transform 0.3s, width 0.3s; /* Add transition for both transform and width */
  }

  .image-container.active img {
    width: 100%;
    height: 100%;
    object-fit: unset;
    filter: brightness(0.5);
    transition: transform 0.3s, width 0.3s; /* Add transition for both transform and width */
  }

  .image-container {
    width: 70px; /* Set the width for each thumbnail image */
    background-position: cover;
  }

  /* Define the background image URL for the first image-container */
  #image-container-1 {
    background-image: url("../img/Accordion_img1_small.png");
  }

  /* Define the background image URL for the first image-container */
  #image-container-2 {
    background-image: url("../img/Accordion_img2_small.png");
  }

  /* Define the background image URL for the first image-container */
  #image-container-3 {
    background-image: url("../img/Accordion_img3_small.png");
  }

  /* Define the background image URL for the first image-container */
  #image-container-4 {
    background-image: url("../img/Accordion_img4_small.png");
  }
}
