/* Reset default styles for the body and container elements */
body,
html {
  margin: 0;
  padding: 0;
}

#parallax {
  position: relative;
  height: 100%;
}

.parallax-section {
  position: relative;
}

.parallax-layer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(0);
}

.layer-1 {
  background-image: url("img/Section_3.png");
}

.layer-2 {
  background-image: url("img/Section_5.png");
}

.layer-3 {
  background-image: url("img/Gallery_img05.png");
}

.content-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0 0px 47px 0 rgba(0, 0, 0, 1), 0 0px 185px 0 rgba(0, 0, 0, 1);
  background-color: #f9f9f9;
}

.Aboutme_Contact_Text1 {
  position: relative;
  text-align: center;
  transition: 0.5s;
}

.img-layer1 {
  width: 300px;
  position: relative;
  top: 0%;
  left: 0%;
  animation: fadeInLeft 3s forwards;
}

.Aboutme_Contact_Text1 h2 {
  color: #ffffff;
  margin: 0 auto;
  text-shadow: 0px 0px 26px rgb(0, 0, 0);
  padding: 20px;
  font-size: clamp(1.3rem, -1.5rem + 8vw, 3rem);
  animation: fadeInLeft 2s forwards;
}

.Aboutme_Contact_Text1 h3 {
  color: #ffffff;
  margin: 0 auto;
  font-size: clamp(0.9rem, -1.5rem + 8vw, 1.5rem);
  text-shadow: 0px 0px 26px rgb(0, 0, 0);
  padding: 20px;
  animation: fadeInLeft 3s forwards;
}

/* CSS for the separate container */
.container {
  opacity: 0; /* Initially set opacity to 0 */
  transform: translateY(50px); /* Initially move the container downward */
  transition: opacity 1s ease, transform 0.5s ease; /* Add transitions for opacity and transform */
  /* Add your desired styles for the container */
}

.container.show {
  opacity: 1; /* Set opacity to 1 when the container is visible */
  transform: translateY(0); /* Move the container to its original position */
}

.container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0px 47px 0 rgb(255, 255, 255), 0 0px 185px rgb(255, 255, 255);
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.img_blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  transition: 0.5s;
}

.triangle-buttons {
  display: block;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 20px 40px;
  margin: 10px;
  border-radius: 40px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-top_t {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInLeft 1s forwards;
}

.button-bottom_t {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInLeft 2s forwards;
}

.button-top {
  padding: 20px 80px;
  animation: light-effect 2s ease-in-out infinite;
}

.button-right {
  font-size: 0.7rem;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.button-left {
  font-size: 0.7rem;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.button-left span {
  color: #fff;
}

.button-right span {
  color: #fff;
}

.button:hover {
  background-color: #0d6efd;
}

@keyframes light-effect {
  0% {
    opacity: 0.7;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.7;
    transform: scale(0.8);
  }
}

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Media Query for viewport width of 768px and below */
@media (max-width: 968px) {
  .layer-1 {
    background-image: url("img/Section_9.jpg");
  }

  .layer-2 {
    background-image: url("img/Section_7.jpg");
  }

  .layer-3 {
    background-image: url("img/Section_8.jpg");
  }
}

/* Reset some default styles */
body,
header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}

body.menu-open {
  overflow: hidden;
}

/* Style the header and navigation */
header {
  background-color: #00000079;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.menu-toggle {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  backdrop-filter: blur(5px);
}

.logo img {
  height: 40px;
  width: auto;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
  z-index: 1;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.945);
  z-index: 998;
}

.menu-overlay.open {
  display: block;
}

.swipe-animation {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.swipe-animation-icon {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  animation: swipeAnimation 1s ease-in-out infinite alternate;
}

.swipe-text {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 100;
  opacity: 0.4;
  font-style: italic;
  /* Add swipe text styles here */
}

@keyframes swipeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.swipe-animation-text {
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

/* Define keyframes and animations */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply responsive styles using media queries */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .img_menu_blur {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    top: 0%;
    left: 0%;
    transition: 0.5s;
  }

  .logo {
    text-align: center;
  }

  .menu-toggle {
    color: #ffffff;
    display: block;
    text-align: right;
    padding: 10px;
    cursor: pointer;
  }

  .swipe-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: clamp(5px, calc(2vw + 5px), 20px);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }

  .swipe-animation-icon {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    animation: swipeAnimation 1s ease-in-out infinite alternate;
  }

  /* Style the open menu */
  .menu.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000d8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: dropdown 0.3s forwards;
    transform-origin: top;
  }

  .menu.open li {
    margin: 10px 0;
    margin-right: 0;
    display: block;
    width: 100%;
    background-color: #00386942;
  }

  .menu.open li a {
    display: block;
    padding: clamp(5px, calc(1vw + 5px), 10px);
    font-size: clamp(14px, calc(0.8rem + 1.5vw), 24px);
    color: #ffffff;
    text-align: center;
  }

  .menu.open li:first-child {
    margin-top: 0;
  }

  .menu-toggle.open ~ .menu {
    animation: slideIn 0.3s forwards;
  }

  .Aboutme_Contact_Text1 h2 {
    padding: 10px;
  }

  .Aboutme_Contact_Text1 h3 {
    padding: 10px;
  }

  .img-layer1 {
    width: 200px;
    position: relative;
    top: 0%;
    left: 0%;
    animation: fadeInLeft 1s forwards;
  }
}

/* Apply responsive styles using media queries */
@media screen and (max-height: 650px) {
  .Aboutme_Contact_Text1 {
    position: relative;
    text-align: center;
    transition: 0.5s;
  }

  .img_blur {
    align-items: center;
    padding: 20px 0;
  }

  .img-layer1 {
    width: 100px;
    position: relative;
    top: 0%;
    left: 0%;
  }

  .Aboutme_Contact_Text1 h2 {
    font-size: 0.9rem;
    padding: 10px;
  }

  .Aboutme_Contact_Text1 h3 {
    font-size: 0.7rem;
    padding: 10px;
  }

  .button-top {
    padding: 7px 30px;
  }

  .button-left {
    padding: 5px;
  }

  .button-right {
    padding: 5px;
  }
}

/* Apply responsive styles using media queries */
@media screen and (max-height: 388px) {
  .triangle-buttons {
    display: none;
  }

  .img-layer1 {
    width: 150px;
    position: relative;
    top: 0%;
    left: 0%;
  }

  .Aboutme_Contact_Text1 h2 {
    font-size: 1.1rem;
    padding: 10px;
  }

  .Aboutme_Contact_Text1 h3 {
    font-size: 0.9rem;
    padding: 10px;
  }
}
